<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{285,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,494}}</string>
                <key>sourceSize</key>
                <string>{285,494}</string>
            </dict>
            <key>bg_unchecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,494}}</string>
                <key>sourceSize</key>
                <string>{285,494}</string>
            </dict>
            <key>btn_store_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,198},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>icon_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,295},{110,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,87}}</string>
                <key>sourceSize</key>
                <string>{110,87}</string>
            </dict>
            <key>icon_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,235},{54,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_no_ads.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,125},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>icon_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,386},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>store_bg_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{296,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,451}}</string>
                <key>sourceSize</key>
                <string>{296,451}</string>
            </dict>
            <key>store_bg_reward_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{296,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,451}}</string>
                <key>sourceSize</key>
                <string>{296,451}</string>
            </dict>
            <key>store_coins_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,384},{84,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_coins_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,125},{146,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,108}}</string>
                <key>sourceSize</key>
                <string>{146,108}</string>
            </dict>
            <key>store_coins_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{177,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,121}}</string>
                <key>sourceSize</key>
                <string>{177,121}</string>
            </dict>
            <key>store_reward_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,235},{149,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,87}}</string>
                <key>sourceSize</key>
                <string>{149,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store_batch.png</string>
            <key>size</key>
            <string>{1393,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1a70e1401d6dddc0ae1f1a53d88052e:1/1$</string>
            <key>textureFileName</key>
            <string>store_batch.png</string>
        </dict>
    </dict>
</plist>
