<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skin0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,87},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>skin0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,87},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>skin0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,87},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>skin0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,87},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>skin0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>skin1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>skin1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,2},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>skin1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>skin1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,2},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>skin1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{83,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,95}}</string>
                <key>sourceSize</key>
                <string>{83,95}</string>
            </dict>
            <key>skin2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,87},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>skin2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,87},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>skin2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,87},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>skin2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,87},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>skin2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,87},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>skin3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{86,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,105}}</string>
                <key>sourceSize</key>
                <string>{86,105}</string>
            </dict>
            <key>skin3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{86,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,105}}</string>
                <key>sourceSize</key>
                <string>{86,105}</string>
            </dict>
            <key>skin3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{86,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,105}}</string>
                <key>sourceSize</key>
                <string>{86,105}</string>
            </dict>
            <key>skin3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{86,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,105}}</string>
                <key>sourceSize</key>
                <string>{86,105}</string>
            </dict>
            <key>skin3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{86,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,105}}</string>
                <key>sourceSize</key>
                <string>{86,105}</string>
            </dict>
            <key>skin4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,85},{81,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,94}}</string>
                <key>sourceSize</key>
                <string>{81,94}</string>
            </dict>
            <key>skin4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,85},{81,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,94}}</string>
                <key>sourceSize</key>
                <string>{81,94}</string>
            </dict>
            <key>skin4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,2},{81,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,94}}</string>
                <key>sourceSize</key>
                <string>{81,94}</string>
            </dict>
            <key>skin4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,2},{81,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,94}}</string>
                <key>sourceSize</key>
                <string>{81,94}</string>
            </dict>
            <key>skin4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,2},{81,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,94}}</string>
                <key>sourceSize</key>
                <string>{81,94}</string>
            </dict>
            <key>skin5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{83,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,111}}</string>
                <key>sourceSize</key>
                <string>{83,111}</string>
            </dict>
            <key>skin5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{83,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,111}}</string>
                <key>sourceSize</key>
                <string>{83,111}</string>
            </dict>
            <key>skin5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{83,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,111}}</string>
                <key>sourceSize</key>
                <string>{83,111}</string>
            </dict>
            <key>skin5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{83,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,111}}</string>
                <key>sourceSize</key>
                <string>{83,111}</string>
            </dict>
            <key>skin5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,111}}</string>
                <key>sourceSize</key>
                <string>{83,111}</string>
            </dict>
            <key>skin6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,90},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>skin6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,90},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>skin6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,90},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>skin6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,98},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>skin6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,90},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>skin7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,90},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>skin7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,90},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>skin7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,90},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>skin7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,90},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>skin7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,2},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_batch.png</string>
            <key>size</key>
            <string>{1933,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a0ee3339b841da9d5177e922e964ef:1/1$</string>
            <key>textureFileName</key>
            <string>player_batch.png</string>
        </dict>
    </dict>
</plist>
