<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{573,619}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,619}}</string>
                <key>sourceSize</key>
                <string>{573,619}</string>
            </dict>
            <key>bag_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1357},{534,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,102}}</string>
                <key>sourceSize</key>
                <string>{534,102}</string>
            </dict>
            <key>btn_blue_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1086},{208,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,76}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,588},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>btn_friends_rank_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1357},{195,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,27}}</string>
                <key>sourceSize</key>
                <string>{195,27}</string>
            </dict>
            <key>btn_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1377},{292,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,96}}</string>
                <key>sourceSize</key>
                <string>{292,96}</string>
            </dict>
            <key>btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1389},{205,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,82}}</string>
                <key>sourceSize</key>
                <string>{205,82}</string>
            </dict>
            <key>btn_gray_round_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,553},{183,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,66}}</string>
                <key>sourceSize</key>
                <string>{183,66}</string>
            </dict>
            <key>btn_gray_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1086},{208,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,76}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>btn_home_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,572},{107,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1389},{350,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,87}}</string>
                <key>sourceSize</key>
                <string>{350,87}</string>
            </dict>
            <key>btn_next_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1272},{172,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,86}}</string>
                <key>sourceSize</key>
                <string>{172,86}</string>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1389},{205,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,82}}</string>
                <key>sourceSize</key>
                <string>{205,82}</string>
            </dict>
            <key>btn_red_round_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,553},{183,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,66}}</string>
                <key>sourceSize</key>
                <string>{183,66}</string>
            </dict>
            <key>btn_red_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,494},{208,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,76}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>btn_restart_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1360},{107,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>btn_reward_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1377},{172,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,86}}</string>
                <key>sourceSize</key>
                <string>{172,86}</string>
            </dict>
            <key>btn_reward_view_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,553},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>btn_reward_watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1275},{362,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,100}}</string>
                <key>sourceSize</key>
                <string>{362,100}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1164},{384,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,109}}</string>
                <key>sourceSize</key>
                <string>{384,109}</string>
            </dict>
            <key>fail_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1172},{577,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,183}}</string>
                <key>sourceSize</key>
                <string>{577,183}</string>
            </dict>
            <key>help_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{427,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,3}}</string>
                <key>sourceSize</key>
                <string>{427,3}</string>
            </dict>
            <key>icon_ad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,2},{490,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,490}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>icon_circle_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,494},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_help_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1275},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>icon_rewarded_video_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,553},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>icon_star_black_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,807},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,181}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>icon_star_yellow_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,624},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,181}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>icon_wheel_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,553},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{578,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,441}}</string>
                <key>sourceSize</key>
                <string>{578,441}</string>
            </dict>
            <key>notice_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,623},{546,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,547}}</string>
                <key>sourceSize</key>
                <string>{546,547}</string>
            </dict>
            <key>reward_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,494},{127,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,131}}</string>
                <key>sourceSize</key>
                <string>{127,131}</string>
            </dict>
            <key>reward_gift_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{497,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,549}}</string>
                <key>sourceSize</key>
                <string>{497,549}</string>
            </dict>
            <key>reward_gift_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1086},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>reward_video_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{573,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,537}}</string>
                <key>sourceSize</key>
                <string>{573,537}</string>
            </dict>
            <key>win_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{595,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,189}}</string>
                <key>sourceSize</key>
                <string>{595,189}</string>
            </dict>
            <key>win_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,582},{497,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,502}}</string>
                <key>sourceSize</key>
                <string>{497,502}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>notice_batch.png</string>
            <key>size</key>
            <string>{2011,1483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3dfa4929ab21d97e8f039bcff1471f4:1/1$</string>
            <key>textureFileName</key>
            <string>notice_batch.png</string>
        </dict>
    </dict>
</plist>
