<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_rank_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>btn_rank_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,769},{206,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,65}}</string>
                <key>sourceSize</key>
                <string>{206,65}</string>
            </dict>
            <key>btn_rank_prev.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,702},{206,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,65}}</string>
                <key>sourceSize</key>
                <string>{206,65}</string>
            </dict>
            <key>btn_start_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{340,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,76}}</string>
                <key>sourceSize</key>
                <string>{340,76}</string>
            </dict>
            <key>icon_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,814},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>icon_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,780},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>icon_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,780},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{573,698}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,698}}</string>
                <key>sourceSize</key>
                <string>{573,698}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank_batch.png</string>
            <key>size</key>
            <string>{577,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9b8e705c1142ae7009b494ee0ebafcb:1/1$</string>
            <key>textureFileName</key>
            <string>rank_batch.png</string>
        </dict>
    </dict>
</plist>
