<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_purchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,189},{244,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,75}}</string>
                <key>sourceSize</key>
                <string>{244,75}</string>
            </dict>
            <key>btn_reward_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,385},{80,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,47}</string>
            </dict>
            <key>btn_select_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,189},{166,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,72}}</string>
                <key>sourceSize</key>
                <string>{166,72}</string>
            </dict>
            <key>icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,100},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>icon_delete_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,391},{89,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,17}}</string>
                <key>sourceSize</key>
                <string>{89,17}</string>
            </dict>
            <key>icon_diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,327},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>icon_diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,327},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>icon_diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,263},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>icon_diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,263},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>icon_diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,266},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>icon_diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,266},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>icon_diamond_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,36},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>icon_diamond_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,380},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>icon_diamond_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{119,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,32}}</string>
                <key>sourceSize</key>
                <string>{119,32}</string>
            </dict>
            <key>icon_diamond_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,410},{34,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,29}}</string>
                <key>sourceSize</key>
                <string>{34,29}</string>
            </dict>
            <key>icon_discount_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,266},{157,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,112}}</string>
                <key>sourceSize</key>
                <string>{157,112}</string>
            </dict>
            <key>icon_discount_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,165},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>icon_discount_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,263},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>icon_discount_percent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,100},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>icon_gray_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,189},{166,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,72}}</string>
                <key>sourceSize</key>
                <string>{166,72}</string>
            </dict>
            <key>icon_no_ads.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,373},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>icon_skin_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,410},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>skin_snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,385},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>skin_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,312},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>special_offer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,443}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>store_3_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,349},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>store_3_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,251},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>store_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{536,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,98}}</string>
                <key>sourceSize</key>
                <string>{536,98}</string>
            </dict>
            <key>store_item_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,102},{541,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,85}}</string>
                <key>sourceSize</key>
                <string>{541,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store_batch.png</string>
            <key>size</key>
            <string>{1227,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c01250b6974b81ebbe8f7a8437464db7:1/1$</string>
            <key>textureFileName</key>
            <string>store_batch.png</string>
        </dict>
    </dict>
</plist>
