<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,211},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btn_double_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{227,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,69}}</string>
                <key>sourceSize</key>
                <string>{227,69}</string>
            </dict>
            <key>btn_gray_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{227,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,69}}</string>
                <key>sourceSize</key>
                <string>{227,69}</string>
            </dict>
            <key>btn_yellow_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,69}}</string>
                <key>sourceSize</key>
                <string>{227,69}</string>
            </dict>
            <key>icon_claimed.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{157,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,186}}</string>
                <key>sourceSize</key>
                <string>{157,186}</string>
            </dict>
            <key>icon_current_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{177,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,207}}</string>
                <key>sourceSize</key>
                <string>{177,207}</string>
            </dict>
            <key>icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,190},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>icon_reward_video_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,211},{49,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,31}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailybonus_batch.png</string>
            <key>size</key>
            <string>{553,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b29de664ac683e302fd5119867a4fdef:1/1$</string>
            <key>textureFileName</key>
            <string>dailybonus_batch.png</string>
        </dict>
    </dict>
</plist>
