<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,106},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,104},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>btn_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,121},{314,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,106}}</string>
                <key>sourceSize</key>
                <string>{314,106}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{314,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,107}}</string>
                <key>sourceSize</key>
                <string>{314,107}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,2},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>btn_favor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{200,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,81}}</string>
                <key>sourceSize</key>
                <string>{200,81}</string>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,2},{177,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,214}}</string>
                <key>sourceSize</key>
                <string>{177,214}</string>
            </dict>
            <key>btn_noads.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,104},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>btn_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,206},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,2},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{200,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,81}}</string>
                <key>sourceSize</key>
                <string>{200,81}</string>
            </dict>
            <key>btn_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,2},{177,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,214}}</string>
                <key>sourceSize</key>
                <string>{177,214}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,104},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>btn_skin.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,181},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,181},{44,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{44,66}</string>
            </dict>
            <key>level_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,104},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>level_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,106},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{18,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,768}}</string>
                <key>sourceSize</key>
                <string>{18,768}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,181},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,85},{300,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,19}}</string>
                <key>sourceSize</key>
                <string>{300,19}</string>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{495,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,117}}</string>
                <key>sourceSize</key>
                <string>{495,117}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,106},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button_batch.png</string>
            <key>size</key>
            <string>{1764,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0695e3f191607a77af64b752a10dd7a:1/1$</string>
            <key>textureFileName</key>
            <string>button_batch.png</string>
        </dict>
    </dict>
</plist>
